apiVersion: apps/v1
kind: Deployment
metadata:
  name: Healthcare-app
  labels:
    app: Healthcare
spec:
  replicas: 1
  selector:
    matchLabels:
      app: Healthcare
  template:
    metadata:
      labels:
        app: Healthcare
    spec:
      containers:
      - name: Healthcare-container
        image: ashwinr2001/healthcaredev:{{ build_tag }}
        ports:
        - containerPort: 8082
---
apiVersion: v1
kind: Service
metadata:
  name: Healthcare-service
spec:
  selector:
    app: Healthcare
  ports:
    - protocol: TCP
      port: 8082         # Cluster-internal port
      targetPort: 8082   # Container port
      nodePort: 30000     # External port on EC2 host
  type: NodePort
